
html, body {
    margin:0;
    padding:0;
    font-size: 1em;
    font-family: sans-serif;
    color: #2D302A;
    min-height: 100%;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #2D302A;
}

footer {
    margin-bottom: 0;
    width: 100%;
    bottom: 0;
    height: 100px;
}


fieldset {
    border-radius: 5px;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.5;
    display: block;
    width: 95%;
}

.btn {
    cursor: pointer;
    color: #ffffff;
    background: #2D302A;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    font-size: 15px;
}

.btn-auth {
    margin: 5px 10px 5px 0;
}

form label {
    font-weight: bold;
}

#header-banner {
    text-align: center;
    padding: 1.5em;
}

.background-gradient {
    background-color: #D6E5E1;
    background: linear-gradient(#C7D6C9, #D6E5E1);
}

.header-text {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-bar-fixed > li {
    display: inline-block;
    float: right;
    padding: 0 1.5%;
}

.nav-bar-link:hover {
    color: #ffffff;
    background-color:#575E52;
    border-radius: 5px;
    padding: 2px;
}

.logo {
    float: left;
}


/* Grid layout */
.main-container {
    display: grid;
    grid-template-columns: 10% 55% 25% 10%;
    grid-template-rows: 30% auto;
    grid-column-gap: 2%
}

.hero-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.intro-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    padding:0 10px;

}

.signup-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

.footer-content {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% auto;
    height: 100px;
}

.footer-para {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;

}

